#wrapper {
    max-width: 100%;
    margin:auto;
    padding-bottom: 100px;
}
.btn{
    white-space: normal;
}

/*-------------------------------------Header----------------------------------------*/
.navbar-link {
    margin-left: 92%;
}

.navbar-img-google {
    padding-top: 10px;
    width: 20px;
    height: 30px;
}

.navbar-img-facebook {
    padding-top: 10px;
    width: 15px;
    height: 30px;
}

.navbar {
    background-color: #850012;
    border-radius: 0px;
    margin-bottom: 0px;
}

#header-image {
    height: 417.298938px;
    width: 100%;
}

.main-list-button {
    height: 80px;
    width: 100%;
    background-color: #850012;
    border-color: white;
    color: white;
}

.col-md-1 , .col-md-2 {
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    width: 12.35%;
}

.header-button {
    padding-left: 1.15%;
}
/*---------------------------------------------------------------------------------------*/

/*-------------------------------------aside-left----------------------------------------*/
.aside-left {
    float: left;
}

.aside-left-button {
    height: 52px;
    width: 295px;
    background-color: #e6465c;
    border-color: white;
    color: white;
    text-align: left;
}

.aside-left-img {
    padding-left: 10px;
}


/*----------------------------------------------------------------------------------------*/

/*-------------------------------------aside-right----------------------------------------*/
.aside-right {
    float: right;
}

.aside-right-button {
    background-color: white;
    border-color: #850012;
    color: black;
    height: 52px;
    width: 295px;
    text-align: left;
}

.aside-right-button-img {
    padding-right: 10px;
    margin:0 auto
}

.aside-right-image {
    height: 172px;
    width: 295px;
    padding-bottom: 15px;
}

.aside-right-button-img {
    padding-left: 10px;
}
/*------------------------------------------------------------------------------------*/

/*-------------------------------------section----------------------------------------*/

section {
    margin-left: 25%;
    width: 645px;
    height: 1400px;
}

.section-block {
    width: 645px;
    height: 180px;

}

.section-right-text {
    padding-top: 20px;
    width: 645px;
}

.section-left-image {
    width: 120px;
    height: 120px;
    float:left;
    margin: 7px 7px 0px 0px;
}

.section-more {
    color: #850012;
    text-decoration:underline;
    float:right;
}

.section-date {
    color: #850012;
}

strong {
    color: #850012;
}

.pagination {
    border-color: white;
    color: #850012;
    margin-left: 45%;
}

.link-pagination {
    border-radius: 40px;
}

.pagination>li>a, .pagination>li>span {
    color: white;
    background-color: #850012;
    border: 1px solid #850012;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 50px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 50px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination> .active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: black;
    background-color: white;
    border: 1px solid #850012;
}

/*------------------------------------------------------------------------------------*/

/*-------------------------------------footer-----------------------------------------*/

footer {
    background-color: black;
    color: white;
    padding : 1.2%;
}

.col-sm-3 {
    padding-left: 1.2%;
}

/*------------------------------------------------------------------------------------*/




